<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%ProgramFiles%\nodejs\node.exe"
                  arguments="%HOME%\site\wwwroot\server\servers\server.js"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  processesPerApplication="1"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\node">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
