<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    
    <!-- THIS IS CRITICAL: Tell IIS to run Node.js -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
  <rules>
    
    <!-- Serve files from dist folder -->
    <rule name="StaticContent" stopProcessing="true">
      <match url="^(.*)$" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="dist/{R:1}" />
    </rule>

    <!-- Send everything else to Node -->
    <rule name="DynamicContent">
      <match url=".*" />
      <action type="Rewrite" url="server.js" />
    </rule>

  </rules>
</rewrite>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <security>
      <authorization>
        <add accessType="Allow" users="*" />
      </authorization>
    </security>
  </system.webServer>
</configuration>