<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="server/servers/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server/servers/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode loggingEnabled="true"
             logDirectory="iisnode"
             watchedFiles="server/servers/server.js;web.config;server/servers/**/*.js" />
  </system.webServer>
</configuration>